
@{
    Bill bill = ViewBag.bill as Bill;
    List<TableFood> tableFoods = ViewBag.tables as List<TableFood>;
    int index = 1;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <hr class="my-4">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                @*<h5 class="font-size-16 mb-3">Billed To:</h5>
                                <h5 class="font-size-15 mb-2">Preston Miller</h5>*@
                                <p class="mb-1">Mã đơn: @bill.Id</p>
                                <p class="mb-1">Ngày đặt: @bill.DateCheckIn</p>
                                <p>
                                    @if (@bill.Status == 1)
                                    {
                                        <span style="color: green;">Đã thanh toán</span>
                                    }
                                    else if (@bill.Status == 2)
                                    {
                                        <span style="color: red;">Đã hủy</span>
                                    }
                                    else
                                    {
                                        <span>Chưa thanh toán</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    
                    <div class="py-2">
                        <h5 class="font-size-15">Chi tiết đơn</h5>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                                <thead>
                                <tr>
                                    <th style="width: 70px;">Stt.</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng</th>
                                    <th class="text-end" style="width: 120px;">Thành tiền</th>
                                </tr>
                                </thead><!-- end thead -->
                                <tbody>
                                @foreach (var item in @bill.BillInfos)
                                {
                                    <tr>
                                        <th scope="row">@index</th>
                                        <td>
                                            <div>
                                                <h5 class="text-truncate font-size-14 mb-1"></h5>
                                                <p class="text-muted mb-0">@item.IdFoodNavigation.Name</p>
                                            </div>
                                        </td>
                                        <td>@item.IdFoodNavigation.Price đ</td>
                                        <td>@item.Count</td>
                                        <td class="text-end">@(item.Count * item.IdFoodNavigation.Price) đ</td>
                                    </tr>
                                    index++;
                                }
                                
                                <tr>
                                    <th scope="row" colspan="4" class="border-0 text-end">Tổng tiền (đã trừ mã giảm giá nếu có)</th>
                                    <td class="border-0 text-end"><h4 class="m-0 fw-semibold">@bill.TotalPrice đ</h4></td>
                                </tr>
                                <!-- end tr -->
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                        </div><!-- end table responsive -->
                        <div class="d-print-none mt-4">
                            <div class="float-start">
                                @if (bill.Status == 0)
                                {
                                    <form asp-action="ChangeTable" asp-controller="DetailBill" method="post">
                                        <input hidden name="idBill" value="@bill.Id"/>
                                        <select name="idTableChange" id="tableSelect">
                                            <option value=0>Chọn một bàn</option>
                                            @foreach (var table in tableFoods)
                                            {
                                                var isSelected = table.Id == bill.IdTable ? true : false;
                                                <option value="@table.Id" selected="@isSelected">@table.Name</option>
                                            }
                                        </select>
                                        <button type="submit" class="btn btn-primary btn-sm">Chuyển bàn</button>
                                    </form>
                                }
                            </div>
                            <div class="float-end">
                                <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                @*<a href="#" class="btn btn-primary w-md">Send</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</div>

<style>
    body{margin-top:20px;
    background-color:#eee;
    }
    
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }
</style>